<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Search Engine</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="date">
      <h1><%= listTitle %></h1>
    </div>

<h1 class="engine">CP QUESTIONS</h1>





<form class="search" action="/" method="post">
  <input type="text" name="qst" value="" class="box">
  <button class="btn-primary bt" type="submit" name="button">Submit</button>
</form>





 <!-- <div class="input-group">
   <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
     aria-describedby="search-addon" />
   <button type="submit" class="btn btn-outline-primary">search</button>
 </div> -->



<!-- <form action="/" method="post">
  <div class="mb-3">
    <label for="Search for a question" class="form-label"></label>
    <input type="email" class="form-control"  name="qst">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> -->





  </body>
</html>
